@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url(../assets/icomoon/style.css);
  html {
    /*noinspection CssUnresolvedCustomProperty*/
    font-size: 16px;
    @apply scroll-smooth antialiased;
  }
}

@layer components {
  .container {
    width: 100% !important;
    max-width: 1856px !important;
  }
}

html {
  @apply bg-gray-bg;
}
